*{margin:0;padding:0;}



body{
	
	background-color:#FFC1CB;
	
}

#main_wrap{
	width:100%
	
	
}
	
#wrap{
	width:960px;
	display:block;
	margin:0 auto;
}

#header_bag{
	background:#FF5AA4;
	border-bottom:5px solid #FFFE4F;
	border-top:3px solid #f13288;
}


#header{
	
	background-color:#FF5AA4;
	padding:15px;

	
}

#header h2{
	
	color:#FFFFFF;
	font-family:arial;
	
}
#header p{
	
	color:#FFBDD1;
	
	
}
#nav_bag{
	background-color:#FFFFFF;
	border-bottom:5px solid #FFFE4F;
	
}

#nav{
	
	background-color:#FFFFFF;
	height:38px;
	
}
#nav ul{
	
	
	background-color: #FFFFFF;
	list-style-type:none;
	z-index:9999;
	
	}
#nav ul li{
	float:left;
	border-right:1px solid #D9B8D3 ;
	border-left:1px solid #E3D6EA; 
	position:relative;
	transition:1s all ease;
	
}
/**#nav ul li:first-child{
	
	border-left:none;
	
	
}
#nav ul li:last-child{
	
	border-right:none;
	
	
}**/

#nav ul li a{
	
	text-decoration:none;
	color:#FF46BF;
	padding:12px 38.6px;
	display:block;
	font-family:arial;
	transition:1s all ease;
	-webkit-transition:1s all ease;
	-moz-transition:0.5s all ease;
	
}
#nav ul li a:hover{
	
	color:#5EE1FF;
	
}
#nav ul li ul{
	
	position:absolute;
	left:-999999px;
	
	
}
#nav ul li:hover ul{
	left:0;
	
}
#nav ul li ul li{
	
	float:none;
	border-left:none;
	border-right:none;
	width:243px;
	
	border-bottom:2px solid #FFB0C2;
	text-align:center;
   position:relative;
}

#nav ul li ul li ul{
	float:left;
	position:absolute;
	top:-99999px;
	border-left:#FFB0C2;
}
#nav ul li ul li ul li{
	
	border-left:3px solid #ddd;
	
}
#nav ul li ul li:hover ul{
	
	top:0;
	left:243px;
}


#nav ul li:hover{
	background-color:#B9FF95;
}

#slider_bag{
	border-bottom:3px solid #FFFE4F;
	
	
	background-color:#fffe4f;
}
#slider_wrapper{
	

}
#cont_bag{
	background-color:#ffdcb6;
	
	
}
#content_wrapper{
	background-color:#fff;
	border-left:2px solid #ebb171;
	border-right:2px solid #ebb171;
	padding:9px;
	overflow:hidden;
	
}

#content p{
	margin:15px 0;
	
}

#content img{
	
	width:450px;
	
	
	
}
#content figure{
	
	width:450px;
	padding:10px;
	margin:10px auto;
	display:block;
	background-color:#bbf2ff;
	
}







#content figcaption{
	 text-align:center;
	 font-family:arial;
	 font-weight:bold;
	 color:pink;
	 padding:3px;
	 
 }

#content{
	
	width:580px;
	margin-right:40px;
	float:left;
	margin-top:20px;
	padding-top:6px;
	overflow:hidden;
}
 
	 
 
#content_wrapper h2{
	
	color:#239DFF;
	font-family:arial;
	padding:10px;
	padding-left:1px;
}


#sidebar{
	float:left;
	width:300px;
	margin-top:30px;
	
}
#sidebar ul{
	
	
	
}
#sidebar_1 h1{
	
	padding:15px;
	color:pink;
	font-family:arial;
	
	
}
#sidebar_1 ul li a{
	text-decoration:none;
	color:#f5a5ff;
	padding:4px;
	
	list-style-type:none;
	margin-bottom:8px;
	overflow:hidden;
}

#sidebar ul li a{
	text-decoration:none;
	color:#28fdb8;
	padding:4px;
	border-bottom:1px solid #15ff27;
	list-style-type:none;
	margin-bottom:8px;
}
#sidebar h1{
	
	padding:15px;
	color:#239DFF;
	font-family:arial;
	
	
}
#foot_bag{
	background:#FFFE4F;
	border-top:3px solid #e9b377;
}
#footer{
	
	background-color:#FFFE4F;
	text-align:center;
	padding:8px;
}
#footer p{
	
	color:#FF46BF;
}

blockquote{
	background-color: #ddd;
	padding:10px;
	margin:8px;
	margin-left:15px;
	border-left:3px solid #E39A7F;
}


	
	
}
#im{}
#im img{
	width:90px;
	height:90px;
	background:#fff;
	border:1px solid pink;
	padding:3px;
	margin-right:10px;
	float:left;
}
#im p{
	width:600px;
	
	margin-top:0;
	
	
}
	
#main_single{
	margin-bottom:25px;
	border-bottom:1px solid grey;
	overflow:hidden;
	
	
}
#main_sidebar h2{
	color:yellow;
	
}	
#main_sidebar{
	list-style-type:none;
	margin-bottom:30px;
	margin-left:10px;
	overflow:hiden;
	padding-bottom:6px;
}	


#main_sidebar ul li{
	list-style-type:none;
	margin-left:15px;
	padding-bottom:6px;
}

#wrapper{
	width:960px;
	margin:0 auto;
	padding-top:0;
}